@import url("./_is-active/form__button_is-active.css");

.form__button {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    font-size: 12px;
    
    background-color: darkgray;
    color: grey;
    
}

.button-new-schedule {
    background-color: rgba(0, 83, 140, 1);
    color: rgb(255, 255, 255);
}
