@import url("./_form-auth/popup__content_form-auth.css");
@import url("./_form-new-doc/popup__content_form-new-doc.css");

.popup__content {
    position: relative;    
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;

}