.form__input-date {
    font-size: 14px;
    width: 150px;    
    height: 30px;
    box-sizing: border-box;    
    border: none;
    border-bottom: 1px rgb(0, 83, 140) solid;
    padding-left: 0;
    margin: 0;

    /* border: 1px red solid; */
    
}

.form__input-date:focus {
    outline: none;
}