@import url("./__period/timesheet__period.css");
@import url("./__title/timesheet__title.css");
@import url("./__button/timesheet__button.css");



.timesheet {
    margin: 0;
    border: 1px #ffffff solid;
    box-sizing: border-box;

}