@import url("./__period/timesheet__period.css");
@import url("./__title/timesheet__title.css");
@import url("./__table/timesheet__table.css");
@import url("./__table-head/timesheet__table-head.css");
@import url("./__table-cell/timesheet__table-cell.css");
@import url("./__table-row/timesheet__table-row.css");
@import url("./__table-content/timesheet__table-content.css");
@import url("./__table-data/timesheet__table-data.css");
@import url("./__table-caption/timesheet__table-caption.css");
@import url("./__button/timesheet__button.css");



.timesheet {
    margin: 0;
    border: 1px #ffffff solid;
    box-sizing: border-box;

}