.table__cell {
    border: 1px #000000 solid;
    padding-left: 3px;
    word-wrap:break-word;    
    text-align: center;
    height: 30px;
    
}

.table__cell_days {
    width: 40px;
    height: 30px;
    
}

.table__cell_total {
    font-weight: 500;
    background-color: rgba(0, 83, 140, .3);
}
