@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/form/form.css");
@import url("../blocks/button/button.css");
@import url("../blocks/head/head.css");



.page {
    display: flex;
    justify-content: center;
    
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}